	h1{
	color:	#00FFFF;
	font-family: Arial;
	}

	h2{
	color:	#FF8000;
	font-family: Arial;
	}

	h3{
	color:	black;
	font-family: Tiresias;
	}
	
	button{
	color:	#FF8000;
	font-family: Arial;
	}
 	
	
	
	

	
